.common{
	width: 93.75%;
	margin: 0 auto;
	.top_nav{
		margin-top: 13px;
		margin-bottom: 9px;
        span{
            width:208px;
            height:14px;
            font-size:14px;
            font-family:SimHei;
            font-weight:400;
            color:#747474;
            line-height:38px;
        }
		a{
		    color: #666666;
		}
    }
    .head{
        margin-top: 48px;
        margin-left: 99px;
        width:981px;
        height:24px;
        border-radius:5px;
        border: 1px solid #FEF2E0;
        background: #FEF2E0;
        div{
            float:left;
            width: 33.3%;
            border: 0px solid #FEF2E0;
            border-radius:5px;
            span{
                margin-top: 5px;
                margin-bottom: 5px;
                width: 100%;
                float:left;
                text-align:center;
                line-height:center;
                font-size:14px;
                font-family:SimHei;
                font-weight:400;
                color:#666666;
                // line-height:38px;
            }
        }
        .current{
            background-color: #f6ac43;
            span{
                color:#fff;
            }
        }
    }
}
.submit_main{
    width: 93.75%;
	margin: 0 auto;
    text-align: center;
    width: 100%;
    .text{
        margin-top:104px; 
        img{
            width: 68px;
            height: 92px; 
        }           
        span{
            margin-top:140px;
            width:143px;
            height:36px;
            font-size:36px;
            font-family:MicrosoftYaHei;
            font-weight:400;
            color:#f6ac43;
            line-height:7px;
        } 
    }
}